DAEMON_LIST = MASTER, STARTD
USE_SHARED_PORT = False
AUTO_INCLUDE_SHARED_PORT_IN_DAEMON_LIST = False

CONDOR_HOST = cm-1.ospool.osg-htc.org,cm-2.ospool.osg-htc.org
USE_CCB = True
CCB_HEARTBEAT_INTERVAL = 120

FILESYSTEM_DOMAIN = $(HOSTNAME)
UID_DOMAIN = $(HOSTNAME)

LOCAL_DIR=/pilot/condor_local
SPOOL = $(LOCAL_DIR)/spool
LOG = $(LOCAL_DIR)/log

# now dynamically set in 10-setup-htcondor.sh
#USER_JOB_WRAPPER = /usr/sbin/osgvo-singularity-wrapper

STARTD_CRON_JOBLIST = $(STARTD_CRON_JOBLIST) base userenv

STARTD_CRON_base_EXECUTABLE = /usr/sbin/osgvo-advertise-base
STARTD_CRON_base_PERIOD = 4m
STARTD_CRON_base_MODE = periodic
STARTD_CRON_base_RECONFIG = true
STARTD_CRON_base_KILL = true
STARTD_CRON_base_ARGS =

# scitokens
# NOTE: credd will refuse to transfer tokens on a non-encrypted link.
SEC_DEFAULT_ENCRYPTION = REQUIRED
SEC_CREDENTIAL_DIRECTORY = $(LOCAL_DIR)/creds
CREDD_OAUTH_MODE = True
TOKENS = True

SEC_DEFAULT_AUTHENTICATION_METHODS = IDTOKENS,PASSWORD,FS
SEC_CLIENT_AUTHENTICATION_METHODS = IDTOKENS,FS

ALLOW_ADMINISTRATOR = condor_pool@*/*

use feature : GPUs
# dynamic slots
SLOT_TYPE_1 = cpus=100%,gpus=100%,disk=100%,swap=100%
SLOT_TYPE_1_PARTITIONABLE = TRUE
NUM_SLOTS = 1
NUM_SLOTS_TYPE_1 = 1

# make it look like a gwms glidein
GLIDEIN_Country = "US"
GLIDEIN_Site = "Docker"
GLIDEIN_ResourceName = "Docker"

GLIDEIN_ContainerTag = "@CONTAINER_TAG@"

STARTD_ATTRS = $(STARTD_ATTRS) GLIDEIN_Country GLIDEIN_Site GLIDEIN_ResourceName WorkerGroupName IsOsgVoContainer GLIDEIN_ContainerTag

# only accept new work for a while, for validated nodes and jobs with project name set
# On GPU nodes, CPU only jobs are only allowed after all GPUs are in use
START = (isUndefined(DaemonStartTime) || (time() - DaemonStartTime) < (MY.ACCEPT_JOBS_FOR_HOURS*60*60)) && \
        (MY.OSG_NODE_VALIDATED == True) && \
        (!isUndefined(TARGET.ProjectName)) && \
        (isUndefined(MY.RecentJobStarts) || MY.RecentJobStarts < 400) && \
        ifThenElse(MY.TotalGPUs > 0 && MY.GPUs > 0, TARGET.RequestGPUs > 0, True) && \
        (isUndefined(TARGET.SingularityImage) || MY.SINGULARITY_START_CLAUSE) && \
        ($(START_EXTRA))

# Include the osgvo-docker-pilot configuration file, if it exists.
include ifexist: $ENV(PILOT_CONFIG_FILE)

#######################################################################
#
# shutdown if we are out of jobs
#

# when the work is complete, shut down the startd
STARTD_NOCLAIM_SHUTDOWN = $(ACCEPT_IDLE_MINUTES) * 60

# Have the master exit if the startd isn't around and it's been given more
# than sixty seconds to show up.  (We could avoid having a timeout if we
# were sure that START_StartTime was undefined before its first start.)
MASTER.DAEMON_SHUTDOWN_FAST = ( STARTD_StartTime == 0 ) && ((CurrentTime - DaemonStartTime) > 60)

# Identify pilot container jobs for gratia-probe detection
IsOsgVoContainer = True

